<section class="sign_in_body">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 p-5">
        <h1 class="body_text">Business Details</h1>
        <h3 class="body_text_form">How do you Calculate Monthly Salary</h3>
        <div class="card">
          <div class="card-body">
            <h3 class="card_text">Calander Month</h3>
            <p class="Business_months">Ex: March - 31 days, April - 30 etc</p>
            <p class="Business_months">(Per day salary = Salary/NO. of days in Month)</p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h3 class="card_text">Every Month 30 Days</h3>
            <p class="Business_months">Ex: March - 31 days, April - 30 etc</p>
            <p class="Business_months">(Per day salary = Salary/30)</p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h3 class="card_text">Exclude Weekly Offs</h3>
            <p class="Business_months">Ex: March - 31 days, April - 30 etc</p>
            <p class="Business_months">(Per day salary = Salary/Payable Days)</p>
          </div>
        </div>
        <br>
        <h3 class="body_text_form">How many hours does your staff work in a shift ?</h3>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="08:00 Hrs" style="width: 250px;">
        <br>
        <button class="Continue" >Create Account</button>
      </div>
      <div class="col-xl-6 p-5">
        <img src="assets/img/main.jpg" alt="">
      </div>
    </div>
  </div>
</section>
