<div class="page-account">
    <form [formGroup]="FormName" (ngSubmit)="onsubmit()" class="form account-form" novalidate>
        <img src="assets/img/logo.png" class="account-logo" alt="">
        <h1 class="main-title">Reset your password</h1>
        <p class="sub-title">Create a new password for your account</p>
        <div class="form-group form-group-password">
            <label for="">Password<span class="required">*</span></label>
            <input type="password" class="form-control" formControlName="inputfield" id="password">
            <i id="pass-status" class="fa fa-eye" aria-hidden="true" onclick="togglepassword()"></i>
            <div class="main-error" *ngIf="!FormName.controls['inputfield']?.valid && (FormName.controls['inputfield']?.dirty||FormName.controls['inputfield']?.touched)">
                <span class="error-msg" [hidden]="!FormName.controls['inputfield']['errors']!['required']">
                inputfield is required
            </span>
            </div>
        </div>
        <div class="form-group form-group-password">
            <label for="">Password (Confirm)<span class="required">*</span></label>
            <input type="password" class="form-control" id="Confirmpassword">
            <i id="Confirm-pass-status" class="fa fa-eye" aria-hidden="true" onclick="togglepasswordConfirm()"></i>
        </div>
        <button [disabled]="!FormName.valid" type="submit" class="btn">Reset your password</button>
        <p class="sub-title mt-3">Return to <a routerLink="/account/signin" class="hyperlink">sign in</a></p>
    </form>
</div>