
<section class="sign_in_nav">
  <div class="container">
    <div class="row">
      <h2 class="nav_title"><b>Pagar</b>Book</h2>
    </div>
  </div>
</section>

<section class="sign_in_body">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 p-5">
        <h1 class="body_text">Manage Staff Easily from your</h1>
        <h1 class="body_text">Desktop</h1>
        <h3 class="body_text_form">OTP sent to {{mobileno}} Change Number</h3>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter OTP" style="width: 250px;"><br>
        <button class="Continue">Continue</button>
        <br>
        <h3>Didn't receive OTP ? <a href="">Resend</a></h3>
      </div>
      <div class="col-xl-6">
        <img src="assets/img/main.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="sign_in_footer p-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <h2 class="call_us"><b>Pagar</b>Book</h2>
        <h4 class="footer_title call_us">We Promise to serve you 24x7</h4>
        <h4 class="call_us">Reach us on below phone number, anytime</h4>
        <h4 class="call_us">Call us: +917600568319</h4>
        <h4 class="call_us">Whatsapp: +917600568319</h4>
      </div>
      <div class="col-xl-6 stats">
          <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
          <h3 class="stats_texts">60 Lakh + <br>Registered SMEs</h3>
          <i class="fa fa-shield fa-3x" aria-hidden="true"></i>
        <h3 class="stats_texts">Safe and Secure<br>With Data Backup</h3>
      </div>
    </div>
  </div>
</section>
