<div class="container">
    <div class="form-round-block card">
        <form class="form">
            <mat-icon mat-dialog-close>close</mat-icon>
            <h1 class="form-title">view user</h1>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">First Name</label>
                        <p class="list-title">Brian</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Last Name</label>
                        <p class="list-title">Hughes</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Middle Name</label>
                        <p class="list-title">Maynard</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Phone</label>
                        <p class="list-title">+1 564465654445</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Personal Email</label>
                        <p class="list-title">marie@gmail.com</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Date of Birth</label>
                        <p class="list-title">16th June 1991</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Gender</label>
                        <p class="list-title">Female</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Marital Status</label>
                        <p class="list-title">Unmarried</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>