<section class="staff_summary">
  <div class="container">
    <div class="items">
      <h1 class="Staff_title m-5">Staff Payment Summary</h1>
      <button class="Continue"><i class="fa fa-user-plus icons_align" aria-hidden="true"></i>Add Staff <i class="fa fa-chevron-down icon_align" aria-hidden="true"></i></button>
    </div>
    <div class="alert alert-warning Warning_border" role="alert">
      <i class="fa fa-exclamation-triangle Warning_icon" aria-hidden="true"></i>
      Missing Bank Account details for some staff! &nbsp;Add Account to pay them online.
      <a  class="alert-link account_link" >Add Account Details</a>
    </div>
    <div>
      <button mat-stroked-button ><i class="fa fa-filter" aria-hidden="true"></i>Primary</button>
    </div>
  </div>
</section>
