<div class="page-account">
    <form [formGroup]="FormName" (ngSubmit)="onsubmit()" class="form account-form" novalidate>
        <img src="assets/img/logo.png" class="account-logo" alt="">
        <h1 class="main-title">Forgot password?</h1>
        <p class="sub-title">Fill the form to reset your password</p>
        <div class="form-group">
            <label for="">Email address<span class="required">*</span></label>
            <input type="text" class="form-control" formControlName="inputfield">
            <div class="main-error" *ngIf="!FormName.controls['inputfield']?.valid && (FormName.controls['inputfield']?.dirty||FormName.controls['inputfield']?.touched)">
                <span class="error-msg" [hidden]="!FormName.controls['inputfield']['errors']!['required']">
                inputfield is required
            </span>
            </div>
        </div>
        <button [disabled]="!FormName.valid" type="button" class="btn">Send reset link</button>
        <p class="sub-title mt-3">Return to <a routerLink="/account/signin" class="hyperlink">sign in</a></p>
    </form>
</div>