<div class="container mt-5">
    <div class="form-round-block card">
        <form class="form">
            <mat-icon (click)="add()">add</mat-icon>
            <h1 class="form-title">user list</h1>
            <mat-form-field class="w-100">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="border">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> user name </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> role </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>
                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef> created </th>
                    <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> status </th>
                    <td mat-cell *matCellDef="let element">
                        <span [class.bg-success]="element.status == 'active'" *ngIf="element.status == 'active'" class="chip">active</span>
                        <span [class.bg-danger]="element.status == 'deactive'" *ngIf="element.status == 'deactive'" class="chip">Deactive</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> action </th>
                    <td class="action-td" mat-cell *matCellDef="let element">
                        <mat-icon (click)="view()">remove_red_eye</mat-icon>
                        <mat-icon (click)="edit()">edit</mat-icon>
                        <mat-icon (click)="delete()">delete</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>
        </form>
    </div>
</div>